@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette
background 1: #eceeee
background 2: #2d4055
font: #051320
bg-rectangles: #76dcc2 #051320 #6a7c86 

screen sizes:
mobile version: sm (min-width: 640px)
desktop version: lg (min-width: 1024px)
*/

body {
    background-color: #2d4055;
}

.lightTheme {
    background-color: #eceeee;
    color: #051320;
}

.darkTheme {
    background-color: #051320;
    color: #eceeee;
}


#container{
    @apply lg:w-5/6 w-full lg:h-[1000px] flex justify-center
}

#logoCon, #navCon {
	display: flex;
	margin: 2px;
}